
  <app-header></app-header>
  <app-identificacao-pagina
    [nomePagina]="'Processos'">
  </app-identificacao-pagina>
  <app-table 
    (abrirModalEmitter)="abrirModal();preencherModalInformacoesTempo($event);" 
    (abrirModalImagemEmitter)="abrirModal();mostrarImagemModal($event);"
    (abrirModalInformacaoEmitter)="abrirModal();preencherModalInformacoesPedido($event);"
    [tabelaColuna]="tabelaColun" 
    [tabelaItemList]="tabelaItemList">
  </app-table>

<app-modal    
  (consultarUnidadeInputEmitter)="consultarUnidade()"
  (enviarFormularioInputEmitter)="enviarFormulario($event)"
  (fecharModalEmitter)="fecharModal()"
  (rastrearInputEmitter)="rastrearInput($event)"
  [inputValue]="inputValue"
  [modalTitle]="modalTitle"
  [labelTitle]="labelTitle"
  [inputLeituraTempo]="inputLeituraTempo"
  [inputLeituraTempoContent]="inputLeituraTempoContent"
  [mostrarImagem]="mostrarImagem"
  [htmlImagem]="processoXML"
  [mostrarInformacaoPedido]="mostrarInformacoesPedido"
  [carregamentoInformacao]="carregamentoInformacao"
  [inputsPedido]="inputsInformacaoPedido">
</app-modal>


