
  <app-header></app-header>
  <app-identificacao-pagina
    [nomePagina]="'Processos'">
  </app-identificacao-pagina>
  <app-table 
    (abrirModalEmitter)="abrirModal();preencherModalInformacoesTempo($event);" 
    (abrirModalImagemEmitter)="abrirModal();mostrarImagemModal($event);"
    (abrirModalInformacaoEmitter)="abrirModal();preencherModalInformacoesPedido($event);"
    [tabelaColuna]="tabelaColuna" 
    [tabelaItemList]="tabelaItemList">
  </app-table>

<app-modal    
  (consultarUnidadeInputEmitter)="consultarUnidadeModal()"
  (enviarFormularioInputEmitter)="enviarFormulario($event)"
  (fecharModalEmitter)="fecharModal()"
  (rastrearInputEmitter)="rastrearInput($event)"
  [inputValue]="inputValue"
  [modalTitle]="modalTitle"
  [labelTitle]="modalLabelTitle"
  [inputLeituraTempo]="inputLeituraTempoModal"
  [inputLeituraTempoContent]="inputLeituraTempoContentModal"
  [mostrarImagem]="mostrarXMLModal"
  [htmlImagem]="processoXML"
  [mostrarInformacaoPedido]="mostrarInformacoesPedidoModal"
  [carregamentoInformacao]="carregamentoInformacao"
  [inputsPedido]="inputsInformacaoPedido">
</app-modal>


