div{
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 60px;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    max-width: 140px;
    min-width: 140px;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.emotes{
    padding: 0;
    display: flex;
    width: fit-content;
    justify-content: space-evenly;
}

.coluna-table{
    background: #EDEDED;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #1351B4;
    align-items: center;
    font-family: Rawline SemiBold;
}